.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background: var(--white);
    display: flex;
    padding: 0 200px;
    border-bottom: 1px solid var(--black);
    align-items: center;
}

.navbar__top {
    width: 33.33%;
}

.navbar__top__logo img {
    height: 40px;
    display: block;
}

.navbar__middle {
    width: 33.333%;
    display: flex;
    justify-content: center;
}

.navbar__middle__search {
    position: relative;
}

.navbar__search {
    background: pink;
    border: 1px solid yellow;
    padding: 7px 45px;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
}

.searchIcon {
    position: absolute;
    top: 10px;
    left: 30px;
    color: aqua;
}

.navbar__bottom {
    width: 33.33333333333333%;
    display: flex;
    justify-content: flex-end;
}

.navbar__bottom li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.navbar__icons {
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 765px) {
    .navbar {
      padding: 0 20px;
    }
    .navbar__middle {
      display: none;
    }
    .navbar__icons {
      display: none;
    }
}