.comments {
    margin-top: 10px;
    padding: 0.5rem;
}
  
.comment__input {
    width: 100%;
    height: 40px;
    border-left: none;
    border-right: none;
    padding: 0 15px;
    outline: none;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.comments__container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 10px 10px 10px;
    
    
}

.comments__container-name {
    margin-right: 8px;
    text-transform: capitalize;
}

.comments__container-msg {
    font-size: 14px;
    color: var(--color-1);
    font-weight: 300;
}